@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-opacity-100 bg-[rgba(9,14,52,var(--tw-bg-opacity))];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-opacity-100 text-[rgba(255,255,255,var(--tw-text-opacity))];
  }

  a {
    @apply text-opacity-100 text-[rgba(255,255,255,var(--tw-text-opacity))];
  }

  p {
    @apply text-opacity-100 text-[rgba(149,156,177,var(--tw-text-opacity))];
  }
  .text-color-w {
    @apply text-opacity-100
    text-[rgba(255,255,255,var(--tw-text-opacity))];
  }
  .bar {
    @apply relative
    w-[30px]
    h-0.5
    my-1.5
    block
    bg-opacity-100
bg-[rgba(255,255,255,var(--tw-bg-opacity))];
  }

  .sub-link {
    @apply block text-sm rounded py-[10px] px-4
    text-opacity-100
  text-[rgba(255,255,255,var(--tw-text-opacity))]
    hover:opacity-70;
  }

  .name-label,
  .email-label,
  .message-label,
  .label {
    @apply block text-sm font-medium 
    
  text-opacity-100 text-[rgba(255,255,255,var(--tw-text-opacity))]
    mb-3;
  }

  .name-input,
  .email-input,
  .input {
    @apply w-full border border-transparent
    bg-opacity-100
  bg-[rgba(36,43,81,var(--tw-bg-opacity))]
    rounded-md   
    py-3                    
    px-6
    text-base
    placeholder-opacity-100
  text-[rgba(149,156,177,var(--tw-placeholder-opacity))]                  
    focus:border-opacity-100
  focus:border-[rgba(74,108,247,var(--tw-border-opacity))];
  }

  .submit-btn,
  .subscribe-btn,
  .price-btn,
  .hero-btn,
  .login-btn,
  .btn {
    @apply text-base text-center
    font-medium
    text-opacity-100
  text-[rgba(255,255,255,var(--tw-text-opacity))]
    bg-opacity-100
  bg-[rgba(74,108,247,var(--tw-bg-opacity))]
    py-3
    px-9
    mb-4
   
    cursor-pointer
    border border-opacity-100
    border-[rgba(74,108,247,var(--tw-border-opacity))]
    hover:bg-opacity-80 hover:shadow
    rounded-md
    transition-all
    duration-300;
  }
}

@layer utilities {
  .mark-svg {
    @apply w-[30px]
    h-[30px]
    flex
    items-center
    justify-center
    rounded-md
    flex-wrap
    bg-opacity-100	
    text-opacity-100
text-[rgba(74,108,247,var(--tw-text-opacity))]
    mr-4;
  }

  .about-lists {
    @apply flex
    items-center
    text-opacity-100 text-[rgba(149,156,177,var(--tw-text-opacity))]
    text-lg
    font-medium
    mb-5;
  }
  .about-list-b {
    @apply font-bold 
    text-opacity-100 text-[rgba(255,255,255,var(--tw-text-opacity))]
    text-xl
    sm:text-2xl
    lg:text-xl
    xl:text-2xl
    mb-4;
  }

  .about-list-p {
    @apply text-opacity-100
    text-[rgba(149,156,177,var(--tw-text-opacity))] text-base
                    sm:text-lg
                    leading-5
                    sm:leading-5
                    font-medium;
  }
}

/* .navbarTogglerActive > span:nth-child(1) {
  top: 7px;
  transform: rotate(45deg);
}

.navbarTogglerActive > span:nth-child(2) {
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3) {
  top: -8px;
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition-prop {
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
} */
