@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-main-dark-bg;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-white;
  }

  a {
    @apply text-white;
  }

  p,
  .p-text-c {
    @apply text-gray;
  }

  .container {
    @apply mx-auto w-full px-4;
  }

  /* Header Styles */

  .bar {
    @apply relative
        my-1.5
        block
        h-0.5
        w-[30px]
    bg-white;
  }

  .navbarToggler {
    @apply absolute right-4 top-1/2 block -translate-y-1/2
        rounded-lg px-3 py-1.5 lg:hidden;
  }

  .navbarTogglerActive > span:nth-child(1) {
    @apply top-[7px] rotate-45 transform;
  }
  .navbarTogglerActive > span:nth-child(2) {
    @apply opacity-0;
  }
  .navbarTogglerActive > span:nth-child(3) {
    @apply -top-[8px] rotate-[135deg] transform;
  }

  .navbarCollapse {
    @apply bg-main-dark-bg absolute right-4 top-full
        hidden w-full max-w-[250px] rounded-lg
         py-5 shadow lg:static
        lg:block lg:w-full
        lg:max-w-full lg:bg-transparent lg:py-0
        lg:px-4 xl:px-6;
  }
  .navbarCollapseActive {
    @apply bg-main-dark-bg absolute
        right-4 top-full block w-full
        max-w-[250px] rounded-lg py-5 lg:static
        lg:block lg:w-full
        lg:max-w-full lg:bg-transparent lg:py-0
        lg:px-4 xl:px-6;
  }

  /* Button Styles */
  .submit-btn,
  .subscribe-btn,
  .price-btn,
  .hero-btn,
  .login-btn,
  .btn {
    @apply border-main-bg bg-main-bg
     mb-4
     cursor-pointer
   rounded-md
   
   border
     py-3
     px-9
     text-center
     text-base
     font-medium
     text-white
      transition-all
     duration-300
     hover:bg-opacity-80
     hover:shadow;
  }

  /* Form Styles */

  .name-label,
  .email-label,
  .message-label,
  .label {
    @apply mb-3 block text-sm 
  font-medium text-white;
  }

  .name-input,
  .email-input,
  .input {
    @apply text-gray focus:border-main-bg mr-5 w-full
    rounded-md border border-transparent  bg-[rgba(36,43,81,1)]
    py-3 px-5                  
  text-base font-medium outline outline-2 outline-offset-2 outline-transparent;
  }
}

img,
video {
  max-width: 100%;
  height: auto;
}

.alert-danger {
  background-color: rgb(220, 170, 170);
  color: rgb(150, 4, 4);
}

.alert-success {
  background-color: rgb(166, 214, 166);
  color: green;
}

.masktype {
  mask-type: alpha;
}
